.uespd2DataTable td {
	text-align: center;
	border: none;
}

.uespd2DataTable th {
	text-align: center;
	border: none;
}

.uespd2DataText {
	margin-bottom: 20px;
	color: white;
}

.uespd2NoWrap {
	white-space: nowrap;
}

.dg_destiny_builds h2,
.dg_destiny_builds h3,
.dg_destiny_builds h4 {
	margin-top: 40px;
}

.dg_destiny_builds .build-header {
	border: none;
}